<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/normalize.css">
  <link rel="stylesheet" href="/static/skeleton.css">
  <link rel="icon" type="image/png" href="/static/favicon.ico">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="eleven columns" style="margin-top: 15%">
      <div>
        <div>
            {{ range $key, $quote := .Quotes }}
              <h4>{{ $quote.Content }}</h4>
            {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
