<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Off-site export dashboard</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/normalize.css">
  <link rel="stylesheet" href="/static/skeleton.css">
  <link rel="icon" type="image/png" href="/static/favicon.ico">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="eleven columns" style="margin-top: 15%">
        <h1>Off-site export dashboard</h1>
        <div>
          <h2>Feeds</h2>
          <div>
            {{ range $key, $value := .Configs.All }}
                {{ $country := $key }}
                <h3>{{ $country }}</h3>
                {{ $languages := $value.Languages }}
                {{ $server := $value.Server }}
                <table class="u-full-width">
                  <thead>
                  <tr>
                    <th>Mode</th>
                    <th>Encoder</th>
                    <th>Extension</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  {{ range $key, $value := $.EncoderConfigs }}
                      <tr>
                        <td>Full</td>
                        <td>{{$key}}</td>
                        <td>{{index $value "type"}}</td>
                        <td>
                          <a class="button" href="{{$server.Host}}/{{$country}}/{{$languages.Primary}}/export/{{$key}}/full/{{$.Hash}}">
                            En
                          </a>
                          <a class="button" href="{{$server.Host}}/{{$country}}/{{$languages.Secondary}}/export/{{$key}}/full/{{$.Hash}}">
                            AR
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>Update</td>
                        <td>{{$key}}</td>
                        <td>{{index $value "type"}}</td>
                        <td>
                          <a class="button" href="{{$server.Host}}/{{$country}}/{{$languages.Primary}}/export/{{$key}}/update/{{$.Hash}}">
                            En
                          </a>
                          <a class="button" href="{{$server.Host}}/{{$country}}/{{$languages.Secondary}}/export/{{$key}}/update/{{$.Hash}}">
                            Ar
                          </a>
                        </td>
                      </tr>
                  {{ end }}
                  </tbody>
                </table>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
